@import 'common';
@import 'video';

$space: 20px;
.portrait {
    border-radius: 100%;
    max-width: 100px;
    border:rgb(117, 117, 117) solid 1px;
}

article {
    max-width:600px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 25px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin:$space auto;
    background: #383838cc;    
    padding: $space;
}

section {
    &:first-of-type {
        margin-top:$space;
    }
    &:last-of-type {
        margin-bottom: $space;
        img.block {
            display: block;
            margin:$space auto (-$space/2) auto;
        }
    }
    margin: 0 -$space;
    background: yellow;
    padding: $space/2 $space;


    img.block {
        display: block;
        margin:$space auto ($space/2) auto;
    }
}
#sites {
    background: #ffffff;

    a {
        color:#ff7a2d;
    }
}

#apps {
    background: #ff7a2d;
    color:#ffffff;
}

header, footer {
    color:#ffffff;
}

.glyph {
    display: inline-block;
    margin: 10px ;

    svg {
        width:40px;
        height: 40px;
    }
}